@model IEnumerable<LearningProject.Models.Roluri>

@{
    ViewData["Title"] = "Index";
}


<div class="container mt-4">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">

            <h4 class="mb-0">Vizualizare Roluri</h4>


            @if (User.IsInRole("RoluriCreate"))
            {
                <a asp-action="Create" class="btn btn-light btn-sm">
                    <i class="bi bi-plus-circle"></i> Adaugă Rol Nou
                </a>
            }
        </div>


        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Denumire_rol)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Denumire_rol)
                            </td>
                            <td class="text-center">

                                @if (User.IsInRole("RoluriEdit"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.IdRol"
                                       class="btn btn-outline-warning btn-sm"
                                       data-bs-toggle="tooltip" title="Editează Rol">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                }

                                @if (User.IsInRole("RoluriViewAllUsernames"))
                                {

                                    <a asp-action="ViewAllUsernames" asp-route-id="@item.IdRol"
                                       class="btn btn-outline-info btn-sm"
                                       data-bs-toggle="tooltip" title="Vizualizeaza Claim">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                }


                                @if (User.IsInRole("RoluriDelete"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.IdRol"
                                       class="btn btn-outline-danger btn-sm"
                                       data-bs-toggle="tooltip" title="Sterge Claim">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                }

                                @if (User.IsInRole("RoluriAssignClaims"))
                                {
                                    <a asp-action="AssignClaims" asp-route-id="@item.IdRol"
                                       class="btn btn-outline-success btn-sm"
                                       data-bs-toggle="tooltip" title="Atribuie Claim">
                                        <i class="bi bi-highlighter"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
