@model LearningProject.Models.User

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <div class="card shadow-lg border-0">

        <div class="card-header bg-primary text-white d-flex justify-content-center align-items-center">
            <h4 class="mb-0">Informatii user</h4>
        </div>



        <div class="card-body">
            <h4>User</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.id_departament)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.id_departament)
                </dd>
            </dl>
        </div>
        <div class="card-body">
            <a asp-action="Edit" asp-route-id="@Model?.IdUser">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
