@model IEnumerable<LearningProject.Models.User>

@{
    ViewData["Title"] = "Vizualizare Utilizatori";
}



<div class="container mt-4">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Gestionare Claims</h4>
            <a asp-action="Create" class="btn btn-light btn-sm">
                <i class="bi bi-plus-circle"></i> Adaugă User Nou
            </a>
        </div>


    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.id_departament)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_departament)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdUser">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.IdUser">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdUser">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</div>
