@model LearningProject.Models.ViewModels.ViewModelPaginatedListCereri



<div id="ContainerTabel">
    @if (Model.ListaCereriCuPaginatie != null && Model.ListaCereriCuPaginatie.Any())
    {
        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th>Nr. crt</th>

                    <th>
                        <a href="#" onclick="loadFilteredCereri(1, '@(ViewData["NameSortParm"] ?? "name")')">
                            Nume
                        </a>



                        <!-- Input filtrare Bootstrap Name Cereri-->
                        <div class="input-group input-group-sm mt-1">
                            <input type="text" class="form-control"
                                   id="filterName"
                                   placeholder="Caută...">
                            <button class="btn btn-outline-secondary" type="button"
                                    onclick="loadFilteredCereri(1, '@(ViewData["NameSortParm"] ?? "name")', document.getElementById('filterName').value)">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>

                    </th>

                    <th>Descriere</th>

                    <th>
                        <a href="#" onclick="loadFilteredCereri(1, '@(ViewData["CreatedBySortParm"] ?? "createdBy")')">
                            Creat de:
                        </a>
                    </th>

                    <th>
                        <a href="#" onclick="loadFilteredCereri(1, '@(ViewData["CreatedOnSortParm"] ?? "createdOn")')">
                            Data Creare:
                        </a>
                    </th>
                    <th>
                        <a href="#" onclick="loadFilteredCereri(1, '@(ViewData["IsActiveSortParm"] ?? "isActive")')">
                            Data Stergere:
                        </a>
                    </th>

                    <th>
                        <a href="#" onclick="loadFilteredCereri(1, '@(ViewData["DeletedBySortParm"] ?? "deletedBy")')">
                            Sters de:
                        </a>
                    </th>

                    <th>
                        <a href="#" onclick="loadFilteredCereri(1, '@(ViewData["StatusSortParam"] ?? "status")')">
                            Status
                        </a>

                        <!-- Dropdown de filtrare integrat sub antet -->
                        <div class="mt-1">
                            <select name="filter" id="filterSelect" onchange="loadFilteredCereri()">
                                <option value="toate">Toate</option>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                    </th>

                    <th>Acțiuni btn</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaCereriCuPaginatie)
                {
                    <tr>
                        <td>@item.value</td>
                        <td>@item.Name</td>

                        <td>@item.Description</td>
                        <td>@item.CreatedByUser?.Username</td>
                        <td>@item.createdOn</td>
                        <td>@item.Deleted</td>
                        <td>@item.DeletedBy?.Username</td>
                        <td>
                            @if (item.IsActive)
                            {
                                <span class="text-success fw-bold">Activă</span>
                            }
                            else
                            {
                                <span class="text-danger fw-bold">Inactivă</span>
                            }
                        </td>
                        <td>
                            @if (User.IsInRole("CereriEdit"))
                            {
                                <button class="btn btn-success btn-sm" onclick="openDetaliiModal(@item.Id)" data-id="@item.Id">
                                    <i class="bi bi-search"></i>
                                    Detalii
                                </button>
                            }
                            @if (User.HasClaim(c => c.Value == "CereriDetails"))
                            {
                                <button class="btn btn-primary btn-sm" onclick="openEditModal(@item.Id)" data-id="@item.Id">
                                    <i class="bi bi-pencil-square"></i>
                                    Edit
                                </button>
                            }
                            @if (User.IsInRole("CereriDelete"))
                            {
                                <button class="btn btn-danger btn-sm" onclick="openDeleteModal(@item.Id)" data-id="@item.Id">
                                    <i class="bi bi-trash"></i> Șterge
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>





        <!-- PAGINARE -->
        <div class="pagination mt-3 d-flex justify-content-center">
            @if (Model.ListaCereriCuPaginatie.HasPreviousPage)
            {
                <button class="btn btn-outline-primary"
                        onclick="loadFilteredCereri(@(Model.ListaCereriCuPaginatie.PageIndex - 1))">
                    &laquo; Anterior
                </button>
            }

            <span class="mx-5">Pagina @Model.ListaCereriCuPaginatie.PageIndex din @Model.ListaCereriCuPaginatie.TotalPages</span>

            @if (Model.ListaCereriCuPaginatie.HasNextPage)
            {
                <button class="btn btn-outline-primary"
                        onclick="loadFilteredCereri(@(Model.ListaCereriCuPaginatie.PageIndex + 1))">
                    Următor &raquo;
                </button>
            }
        </div>

    }
    else
    {
        <p class="text-muted">Nu există cereri pentru filtrul selectat.</p>
    }
</div>

<!-- Modal global Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="deleteModalContent"></div>
    </div>
</div>


<!-- Modal global Edit-->
<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="editModalContent"></div>
    </div>
</div>

<!-- Modal global Detalii-->
<div class="modal fade" id="detaliiModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="detaliiModalContent"></div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
   
}
